:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
  ::selection {
    background-color: black;
    color: #e9dfd5;;
  }
}

html, body {
  background-color: #e9dfd5;
  margin: 0;
  width: 100dvw;
  min-height: 100dvh;
}

@view-transition {
  navigation: auto;
}

::view-transition-old(root) {
  animation: 0.4s ease forwards blur-out;
}

::view-transition-new(root) {
  animation: 0.4s ease forwards blur-in;
}

@keyframes blur-out {
  to { filter: blur(8px); opacity: 0; }
}

@keyframes blur-in {
  from { filter: blur(8px); opacity: 0; }
}