---
import Layout from '../layouts/Layout.astro';
import styles from './career.module.scss';
---

<Layout title='Career'>
	<div class={styles.pageWrapper}>
		<p>Career</p>
		<a href='/'><img src='grainsun.png' alt='eclipse' /></a>
	</div>
</Layout>
