---
import Layout from '../layouts/Layout.astro';
import styles from './home.module.scss';
---

<Layout title='Home'>
	<div class={styles.pageWrapper}>
		<p class={styles.topName}>이채민</p>
		<a href='/'><img src='bicircle.png' alt='eclipse' /></a>
	</div>
</Layout>
