---
import Layout from '../layouts/Layout.astro';
import styles from './home.module.scss';
---

<Layout title='Home'>
	<div class={styles.pageWrapper}>
		<p class={styles.topName}>Chaemin Lee</p>
	</div>
</Layout>
