---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.scss';
---

<Layout title='Index'>
	<div class={styles.pageWrapper}>
		<div class={styles.nameWrapper}>
			<p
				class={styles.name}
				onmouseover="this.textContent='이채민'"
				onmouseout="this.textContent='Chaemin Lee'"
			>
				Chaemin Lee
			</p>
		</div>
		<div class={styles.ballWrapper}>
			<a href='/home'>
				<img src='/bluecircle.png' alt='blue circle' />
			</a>
		</div>
	</div>
</Layout>
