---
import Layout from '../layouts/Layout.astro';
import styles from './index.module.scss';
---

<Layout title='Index'>
	<div class={styles.pageWrapper}>
		<p
			class={styles.name}
			onmouseover="this.textContent='Lee, Chaemin'"
			onmouseout="this.textContent='Chaemin Lee,'"
		>
			Chaemin Lee
		</p>

		<a href='/home'>
			<img src='/bluecircle.png' alt='blue circle' />
		</a>
	</div>
</Layout>
