---
import Layout from '../layouts/Layout.astro';
import styles from './projects.module.scss';
---

<Layout title='Projects'>
	<div class={styles.pageWrapper}>
		<div class={styles.contentWrapper}>
			<a href='/home' class={styles.closeBtn} aria-label='Go back'>&#x2715;</a>
		</div>
	</div>
</Layout>
