---
import Layout from '../layouts/Layout.astro';
import styles from './self.module.scss';
---

<Layout title='Self'>
	<div class={styles.pageWrapper}>
		<div class={styles.contentWrapper}>
			<div class={styles.imageWrapper}>
				<a href='/home'><img src='coolcat.png' alt='cool cat' /></a>
			</div>
			<div class={styles.textWrapper}>
				<p></p>
			</div>
		</div>
	</div>
</Layout>
