---
import Layout from '../layouts/Layout.astro';
import styles from './self.module.scss';
---

<Layout title='Self'>
	<div class={styles.pageWrapper}>
		<div class={styles.gridBoardWrapper}></div>
	</div>
</Layout>
