---
import Layout from '../layouts/Layout.astro';
import styles from './self.module.scss';
---

<Layout title='Self'>
	<div class={styles.pageWrapper}>
		<div class={styles.goBack}>
			<a href='/home'><img src='saturn.png' alt='go back' /></a>
		</div>
	</div>
</Layout>
