:root {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #e9dfd5;
  margin: 0;
}

.page-wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 3em;
}

img {
  width: 200px;
  height: auto;
}