---
interface Props {
	company: string;
	description?: string;
}
import styles from './CareerCard.module.scss';

const { company, description = 'No description' } = Astro.props;
---

<div class={styles.card}>
	<p class={styles.cardHeading}>{company}</p>
	<p>{description}</p>
</div>
